html, body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    }
body {
    margin: 0;
    padding: 0;
    }

nav {
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    display: inline-block;
  }

.logo img {
    width: 100px;
    padding-left: 30px;
    padding-bottom: 10px;
    vertical-align: middle;
  }

.nav-links {
    list-style: none;
    display: flex;
  }
  
.nav-item a {
    display: inline-block;
    padding: 15px 40px;
    font-size: x-large;
    text-decoration: none;
    color: white;
  }
  
.nav-item:hover {
    background-color: #76C3BA;
  }

.contactcontainer {
  margin-top: 400px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.candywrapper {
  height: 1120px;
  width: 1600px;
  background-color: #F9C83F;
  border-radius: 48px;
  box-shadow: 0 32px 96px rgba(0, 0, 0, .5);
}

.logoBackground {
  position: absolute;
  left:0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(#76C3BA, #85fff1);
}

.header {
  position: absolute;
  color: white;
  width: 480px;
  text-align: center;
  top:60%;
  left: -25px;
  z-index: 100;

}
.logobutton {
  position: absolute;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 48px;
  text-transform: uppercase;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: 256px;
  color: white;
  cursor: pointer;
}

.contactSignUpForm {
  position:absolute;
  width: 960px;
  height: 100%;
  left: 100px;
  top: 180px;
  padding: 165px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.contactSignUpForm p {
  margin-bottom: 32px;
  font-size: 15px;
}