.flexlayout {
    display: flex;
    flex-direction: column;
    border: none;
}

html, body {
  font-family: Impact,
  Haettenschweiler,Franklin Gothic Bold,Charcoal,
  Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  width: 100%;
  height: 100%;
  }
body {
  margin: 0;
  padding: 0;
  }

nav {
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-block;
}

.logo img {
  width: 100px;
  padding-left: 30px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 15px 40px;
  font-size: x-large;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: #76C3BA;
}

.intro {
  margin: 120px 10px 10px 10px;
  padding: 20px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-color: #76C3BA;
  border-width: 40px;
  border-radius: 30px;
  background-color: #f9c73fe7;
}

.intro img {
  width: 600px;
  height: 500px;
  border-radius: 20px;
}

.intro h1 {
  font-size: xxx-large;
  padding: 25px 20px 0px;
}

.intro p {
  font-size: x-large;
  padding: 0px 25px 20px;
}
.joinbar {
    background-image: linear-gradient(to right,#A03026, #D14547);
    color: white;
    display: flex;
    flex-direction: row;
    marginp: 10px 20px;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 96px;
}

.photosection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f9c73fe7;
  border: #76C3BA;
  border-width: 40px;
  border-radius: 30px;
  border-style: solid;
  margin-top: 10px;
  margin: 10px;
  
}

.boxSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px 36px;
  margin: 10px;
}

.boxSection img {
  width: 400px;
  height: 400px;
}
.boxSectionWords {
  font-size: large;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  border: none;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #76C3BA;
  border-width: 40px;
  border-radius: 30px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

.calendar img {
  width: 480px;
  height: 100%;
  padding: 10px;
}

.gymEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #76C3BA;
  border-width: 40px;
  border-radius: 30px;
  border-style: solid;
}

.gymEvents img {
  width: 480px;
  height: 100%;
  padding: 10px;
}

.gymEventsPhotos {
  flex-direction: row;
  align-items: center;
}