.flexlayout {
    display: flex;
    flex-direction: column;
    border: none;
}

html, body {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
  }
body {
  margin: 0;
  padding: 0;
  }

nav {
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 9999;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-block;
}

.logo img {
  width: 100px;
  padding-left: 30px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 15px 40px;
  font-size: x-large;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: #76C3BA;
}

.intro {
  margin-top: 20px;
  }

.joinbar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}